{% extends "base.html"%}
{% block content %}
{% load staticfiles %}
<style>
    #sid{
	visibility: hidden;
    }
    #user_status{
    }
</style>
{% if isPublic %}
{% if myStatus %}
<button id = "follow" class = "ui toggle button active">Joined</button>
{% else %}
<button id = "follow" class = "ui toggle button">Join</button>
{% endif %}
<div id = 'sid'>{{ sid }}</div>
{{ title }}
<div id = "user_status">{{ myStatus }}</div>
{{ content }}
{{ conductor }}
<div>
    members
{% for member in members %}
{{ member.username }}
<img src="/media/{{member.avatar}}"/>
{% endfor %}
</div>
{{ Tags }}
{{ State }}
{{ StartTime }}
{{ EndTime }}
{% else %}
This is a private arrange
{% endif %}
<script src = "{% static "act/request_activity.js" %}"></script>
<script src = "{% static "jquery/jquery.cookie.min.js" %}"></script>
{% endblock %}
