{% extends "base.html"%}
{% block content %}
{% load staticfiles %}
<style>
    #sid{
	visibility: hidden;
    }
    #user_status{
	visibility: hidden;
    }
</style>
{% if isPublic %}
<div class = "content ui segments">
    <div class = "header ui segment">
	{{ title }}
    </div>
    <div class = "meta ui red segment">
	<div class = "ui grid container">
	    <div class = "four wide column">
		<i class = "user icon">{{ conductor }}</i>
	    </div>
	    <div class = "eight wide column">
		<i class = "tags icon"> {{ Tags }}</i>
	    </div>
	    <div class = "four wide column">
		{{ State }}
	    </div>
	</div>
    </div>
    <div class = "description ui blue segment">
	{{ content }}
	<div class = "ui bottom floated">
	    <i class = "users icon"></i>
		{{member_count}} user(s) already in
	</div>
    </div>
    <div class = "extra ui green segment">

	<div class = "ui label">
	    {{ StartTime }}
	</div>
	To
	<div class = "ui label">
	    {{ EndTime }}
	</div>

	{% if myStatus %}
	<button id = "follow" class = "ui right floated toggle button active">Joined</button>
	{% else %}
	<button id = "follow" class = "ui right floated toggle button">Join</button>
	{% endif %}

    </div>
</div>
<div id = 'sid'>{{ sid }}</div>
<div id = "user_status">{{ myStatus }}</div>
<h4 class = "ui horizontal divider header">
    <i class "users icon"></i>
    Members
</h4>
<div>
    <div class = "ui middle aligned animated list">
	{% for member in members %}
	<div class = "item">
	    <img class = "ui avatar image" src = "/media/{{member.avatar}}">
	    <div class = "content">
		<div class = "header">
		    {{ member.user.username }}
		</div>
	    </div>
	</div>
	{% endfor %}
    </div>
</div>
{% else %}
This is a private arrange
{% endif %}
<script src = "{% static "act/request_activity.js" %}"></script>
<script src = "{% static "jquery/jquery.cookie.min.js" %}"></script>
{% endblock %}
