{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<style>
    #username{
	display : none;
    }
</style>

<div id = "username">{{user.username}}</div>
<div class = "ui container">
<div class = "ui top attached tabular menu">
    <a class = "item active" data-tab="activities"> Activities </a>
    <a class = "item" data-tab="personal"> Personal </a>
</div>
<div class = "ui bottom attached tab segment active" data-tab="activities">
    <h4 class = "ui horizontal divider header">
	<i class = "lightning icon"></i>
	Rock It !
    </h4>
    {% include "act/create_activity.html" %}
    <h4 class = "ui horizontal divider header">
	<i class = "send outline icon"></i>
	Activities
    </h4>
    {% include "act/act_list.html" %}
</div>
<div class = "ui bottom attached tab segment" data-tab="personal">
    <div class = "ui centered card">
	<div class = "content">
	    <div class = "header">
		<a href ="{% url 'request_user_page' user.username %}">
		    My Activities
		</a>
	    </div>
	    <div class = "description">
		Click to Go
	    </div>
	</div>
    </div>
    <h4 class = "ui horizontal divider header">
	<i class = "write icon"></i>
	Update My Profile
    </h4>
    {% include "act/update_user.html" %}
    <div class = "ui clearing divider "></div>
    <span><i class = "power icon large"></i><a href="{% url 'logout' %}"  class = "ui tag red label">Log out</a></span>
</div>
<script src = "{% static "act/dashboard.js" %}"></script>
{% endblock %}
