  {% extends "base.html" %}
  {% block content %}
  <style type="text/css">
    body {
      background-color: #1b1c1d;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
	
	.ui.stacked.segment {
	  background-color: #1b1c1d;
	}
	
	
  </style>
  <script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'username',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your username'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script>
</head>
<body>
<div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item">Home</a>
        <a class="item">Activity</a>
        <a class="item">Users</a>
        <a class="item">Dashboard</a>
        <div class="right item">
          <a class="item" href="/act/login/">Login</a>
          <a class="item" href="/act/register/">Signup</a>
        </div>
      </div>
    </div>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <i class = "user icon"> </i>
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form class="ui large form" method = "post" action = "/act/login/">
	{% csrf_token %}
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="ui fluid large teal submit button">Login</div>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      New to us? <a href="/act/register/">Sign Up</a>
    </div>
  </div>
</div>
{% endblock %}
