{% extends "base.html" %}
{% block content %}
  <style type="text/css">
    body {
      background-color: #A69F94;
      color : #D8E0F2;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }

    .Upload{
	position: relative;
	overflow : hidden;
	margin:10px;
    }

    .Upload input#id_avatar{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size : 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
    }
  </style>
{% if registered %}
Thanks for registration 
{% else %}


<div class="ui grid container">
    <div class = "four wide column">
    </div>
    <div class = "eight wide column">
	<p></p>
	<h4 class = "ui horizontal divider header">
	    <i class = "user icon"></i>
	    Register your account
	</h4>
	    <form id = "user_form" class = "ui large form" method = "post" action = "/act/register/" enctype = "multipart/form-data">
		    {% csrf_token %}
		    <div class = "field">
			<label>User Name</label>
			{{ user_form.username }}
		    </div>
		    <div class = "field">
			<label>E-mail</label>
			{{ user_form.email }}
		    </div>
		    <div class = "field">
			<label>Password</label>
			{{ user_form.password }}
		    </div>
			<!--<i class = "big photo icon"></i>-->
		    <div class = "Upload ui button ">
			<label>Avatar</label>
			{{ profile_form.avatar }}
		    </div>
		    <div class = "field">
			<label>Gender</label>
			{{ profile_form.Gender }}
		    </div>
		    <div class = "field">
			<label>Telephone</label>
			{{ profile_form.Telephone }}
		    </div>
		    <div>
			<input class = "ui fliud large submit button" type = "submit" name = "submit" value = "Register" >
		    </div>
	    </form>
    </div>
    <div class = "four wide column">
    </div>
</div>
{% endif %}
  <script>
  $(document)
    .ready(function() {
      $('select.dropdown').dropdown();
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'username',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your username'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script>
{% endblock %}
