{% extends "base.html" %}
{% block content %}
  <style type="text/css">
    body {
      background-color: #1b1c1d;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }

    .Upload{
	position: relative;
	overflow : hidden;
	margin:10px;
    }

    .Upload input#id_avatar{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size : 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
    }
	
	.ui.stacked.segment {
	  background-color: #1b1c1d;
	  font-size: 17px;
	}
	
	.ui.piled.segment {
	  background-color: #1b1c1d;
	  font-size: 17px;
	}

  </style>
{% if registered %}
Thanks for registration 
{% else %}


<div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item">Home</a>
        <a class="item">Activity</a>
        <a class="item">Users</a>
        <a class="item">Dashboard</a>
        <div class="right item">
          <a class="item" href="/act/login/">Login</a>
          <a class="item" href="/act/register/">Signup</a>
        </div>
      </div>
    </div>


<div class = "ui middle aligned center aligned grid">
    <div class = "column">
	<h2 class = "ui teal image header">
	    <!--<i class = "add square icon"></i>
	    <div class = "content">
		Register your account
	    </div>-->
	    <form id = "user_form" class = "ui large form" method = "post" action = "/act/register/" enctype = "multipart/form-data">
		<div class = "ui stacked segment">
		    {% csrf_token %}
		    {{ user_form }}
		</div>
		<div class = "ui piled segment">
		    <div class = "ui left icon "> 
			<!--<i class = "big photo icon"></i>-->
			<div class = "Upload ui button teal">
			    {{ profile_form }}
			</div>
		    </div>
		    <div class="ui error message"></div>
		    <div>
			<input class = "ui fliud large teal submit button" type = "submit" name = "submit" value = "Register" >
		    </div>
		</div>
	    </form>
{% endif %}
  <script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'username',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your username'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script>
{% endblock %}
