<form id = 'update' class = "ui form">
{% csrf_token %}
<div class = "field">
    <label> E-mail </label>
    <input type = "text" name = "email" placeholder = "E-mail"/>
</div>
<div class = "field">
    <label> original password </label>
    <input type = "text" name = "oldpassword" placeholder = "Original Passward"/>
</div>
<div class = "field">
    <label> new password </label>
    <input type = "text" name = "newpassword" placeholder = "New Passward"/>
</div>
<input class = "ui button" id = "submit" type = "submit" value = "Submit"></input>
</form>
<script>
    $(document).ready(function(){
	$('#update').submit(function(event){
	    event.preventDefault();
	    /*
	    var form_data = {
		user_name : $('input[name=user_name]').val(),
		email : $('input[name=email]').val(),
		oldpassword : $('input[name=oldpassword]').val(),
		newpassword : $('input[name=newpassword]').val()
	    }
	    */
	    var url = '/act/user/update';
	    /*
	    $.post(url, function(data){
		console.log(data);
	    });
	    */
	    $.ajax({
		url: url,
		type: 'post',
		dataType: 'json',
		data: $('form#update').serialize(),
		success: function(data){
		    console.log(data);
		}
	    });
	});
    });
</script>
